body{
    background-image: url(../img/christmas-bg.jpg);
    background-repeat: no-repeat;
        background-size: cover;
        // position: relative;
        font-family: 'Marck Script', cursive;
}

header{
    height: 80px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;

}

h1{
    position: absolute;
    color: #fff;
    right: 0%;
    top: 40%;
    font-size: 40px;
    width: 900px;

}

.title-name {
    animation: changeColor 3s infinite;
    /* 1s - длительность анимации, infinite - бесконечно повторять */
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
}

@keyframes changeColor {
    0% {
        background-color: #5e0883;
        /* начальный цвет */
    }

    25% {
        background-color: #021687;
        /* цвет после 25% времени */
    }

    50% {
        background-color: #5e0883;
        /* цвет после 50% времени */
    }

    75% {
        background-color: #021687;
        /* цвет после 75% времени */
    }

    100% {
        background-color: #d3b317;
        /* возвращаемся к начальному цвету */
    }
}

.snowman{
    position: absolute;
    left: 15vh;
    bottom: 10vh;
    height: 65%;
}

.logo:hover{
filter: drop-shadow( 0px 0px 7px #fff);
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    z-index: 2;
    position: absolute;
    bottom: 5vh;

    //

    transition: 0.2s;
    
}

.btn{
width: 200px;
height: 100px;
border-radius: 25px;
width: 300px;
color: #fff;
border: none;
// margin: 10px;
font-family: 'Marck Script', cursive;
font-weight: 400;
font-size: 35px;

//



}

.btn:hover{
    transition: 350ms;
    // background-color: rgb(218, 188, 20);
    color: #021687;
    transform: scale(1.2) translateY(-20px);
    border-radius: 40px;
        background: linear-gradient(145deg, #fad51c, #d3b317);
        box-shadow: 16px 16px 32px #fff,
            -16px -16px 32px #fff;
}


.anya{
background: #5e0883;
}

.vlada{
    background: #021687;

}

.olya{
background: #5e0883;
}

.slava{
    background: #021687;
}

.andrey{
background: #021687;
}

.pavel {
    background: #5e0883;
}

.tania {
    background: #021687;
}

.vova {
    background: #5e0883;
}

.logo-wrapper{
    position: absolute;
    right: 25px;
    top: 25px;
}

//=====================================

// effects and animations

.invisible{
    display: none;
}

.loading-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5e0883;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
}

.loading {
    border: 8px solid #021687;
    border-top: 8px solid #d3b317;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 10px;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.parallax{
    width: 100%;
    height: 80vh;
}
.parallax__inner{
    width: 100%;
    height: 90%;
}

// info block


#friendInfo{
    margin-bottom: 25px;
}